<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home ::
        w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> start-smoth-scrolling -->
</head>

<div class="agileits_header">
    <div class="w3l_offers">
        <a href="products.html">Today's special Offers !</a>
    </div>
    <div class="w3l_search">
        <form action="#" method="post">
            <input type="text" name="Product" value="Search a product..." onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Search a product...';}" required="" (input)="SearchData($event.target.value)">
            <input type="submit" (click)="submitSearchData()" value=" ">
        </form>
        <!-- <input type="text" name="searchData" (input)="$event.target.value.length > 2 && SearchData($event.target.value)"/>search -->
    </div>
    <div>
        <div class="product_list_header">
            <form action="#" method="post" class="last">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <!-- <input type="submit" name="submit" (click)="cart()" value="Cart Count {{productCount}} " class="button" /> -->
                    <input type="submit" (click)="cart()" name="submit" value="View cart - {{productCount}} "
                        class="button" style="width:170px" />
                </fieldset>
            </form>
        </div>
    </div>


    <div class="w3l_header_right">
        <ul>
            <li class="dropdown profile_details_drop">
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a> -->
                <div class="mega-dropdown-menu">
                    <!-- <div class="w3ls_vegetables">
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="login.html">Login</a></li> 
                                    <li><a href="login.html">Sign Up</a></li>
                                </ul>
                            </div>                   -->

                  
                    <div *ngIf="this.myStorage.getLoggedInTrue()=='true';else loginComponent">
                    <div class="dropdown w3l_header_right " style="margin-top:5px">

                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><i
                                class="fa fa-user" aria-hidden="true"></i>
                            User
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/profile">Profile</a>
                            </li>

                            <li role="presentation">
                                <a role="button" (click)="logout()" tabindex="-1" >Logout</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <ng-template #loginComponent> 
                        <div class="dropdown w3l_header_right " style="margin-top:5px">

                                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><i
                                        class="fa fa-user" aria-hidden="true"></i>
                                    User
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="/login">Login</a>
                                    </li>
        
                                    <li role="presentation">
                                            <a role="button" (click)="signUp()">
                                                    Sign Up
                                            </a>
                                        <!-- <a role="menuitem" tabindex="-1" href="#">Sign Up</a> -->
                                    </li>
                                </ul>
        
                            </div>
                    </ng-template>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<app-navbar></app-navbar>
<div *ngIf="router.url != '/dashboard'">
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
                <li>{{router.url.split("/")[1]|titlecase}}</li>
            </ul>
        </div>
    </div>

</div>
<div><app-banner></app-banner></div>

<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- <app-discount> </app-discount>  
 <app-offers></app-offers>    
 <app-vegitables></app-vegitables>  -->