<div class="w3l_banner_nav_right">
  <!-- services -->
      <div class="services">
        <h3>Services</h3>
        <div class="w3ls_service_grids">
          <div class="col-md-5 w3ls_service_grid_left">
            <h4>Our Services</h4>
            <p>We are dealing with vegitables & fruits at present, in future we will expand to 
              frozon foods, pet foods , grocery etc.
            </p>
          </div>
          <div class="col-md-7 w3ls_service_grid_right">
            <div class="col-md-4 w3ls_service_grid_right_1">
              <img src="assets/images//18.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-4 w3ls_service_grid_right_1">
              <img src="assets/images//19.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-4 w3ls_service_grid_right_1">
              <img src="assets/images//20.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3ls_service_grids1">
          <div class="col-md-6 w3ls_service_grids1_left">
            <img src="assets/images//4.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="col-md-6 w3ls_service_grids1_right">
            <ul>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Fresh Vegetable</li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Fresh Fruit</li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Frozon food Comming soon</li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Grocery comming soon</li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Pet food comming soon</li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>And much more..>
            </ul>
            <a href="single.html">Shop Now</a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
  <!-- //services -->
      </div>
      <div class="clearfix"></div>
    